[submodule "MSC-SE/S2/Andriod_Initiation/projects/project 1/MyClock"]
	path = MSC-SE/S2/Andriod_Initiation/projects/project 1/MyClock
	url = https://github.com/EPITA-Android-spring-2026/myclock_joshua.musa-epita.fr.git
